html
  head
    // Auth0Lock script
    script(src='http://cdn.auth0.com/js/lock-7.5.min.js')
    // Setting the right viewport
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  body
    h1 Test
    input#btn-login.btn-login(type="submit")

script.
  var lock = new Auth0Lock('OkDgBFuMfTt6iKz0fLQ1IAUm9zftz9TW', 'phi.auth0.com');

  var userProfile = null;

  document.getElementById('btn-login').addEventListener('click', function() {
    lock.show({ authParams: { scope: 'openid' } });
  });

