home
  div.container
    h2 home
    ul.collection
      li.collection-item(each='{notes}')
        span.title {title}
        p {content}
          span by {_creator.name}
        span {parent.created(this)} / {parent.updated(this)}
        button(onclick='{destroy}') destroy
        button(onclick='{edit}') edit

  script.
    var self = this;
    this.fetch = function() {
      // ノートを取得
      api.notes.index()
        .done(function(res) {
          self.notes = res.notes;
          self.update();
        });
    };
    this.fetch();
