setting
  div.container
    h2 setting
    form(name='mainForm', onsubmit='{submit}')
      input(name='name', type='text', placeHolder='name')
      textarea(name='description', placeHolder='description')
      button submit

  script.
    this.mainForm.name.value = global.me.name;
    this.mainForm.description.value = global.me.description;

    this.submit = function() {
      var form = this.mainForm;
      var data = {
        name: form.name.value,
        description: form.description.value,
      };

      if (global.me) {
        api.users.update(global.me._id, data);
      }
      else {
        api.users.create(data);
      }
    };
