user
  div.container
    h2 user

    button(onclick='{create}') create

    ul.collection
      li.collection-item(each='{notes}')
        span.title {title}
        p {content}
          span by {_creator.name}
        button(onclick='{destroy}') destroy
        button(onclick='{edit}') edit

  script.
    var self = this;
    this.fetch = function() {
      // ノートを取得
      api.notes.index()
        .done(function(res) {
          self.notes = res.notes;
          self.update();
        });
    };
    this.fetch();

    this.create = function() {
      var data = {
        title: 'untitled',
        content: 'ここにテキスト書いてってねー♪',
      }; 
      api.notes.create(data)
        .done(function() {
          self.fetch();
        });
    };

    this.edit = function(e) {
      var item = e.item;
      if (item._creator._id === global.me._id) {
        var path = ['note', item._id].join('/');
        riot.route(path);
      }
    };

    this.destroy = function(e) {
      var item = e.item;
      api.notes.destroy(item._id)
        .done(function() {
          self.fetch();
        });
    };







